body {
        background:#eee;
        font-size:16px;
        /*font-family:Georgia;*/
}
.main-container {
        padding:20px;
        background:white;
}
.top-tabs {
        margin-top:30px;
}
fieldset {
        border:1px solid #aaa;
        border-radius:5px;
        padding:5px;
}
legend {
        border:1px solid #aaa;
        font-size:18px;
        line-height:25px;
        border-radius:15px;
        width:auto;
        padding:0 15px;
        margin:0;
        margin-bottom:10px;
        background:#fafafa;
}
table th {
        background:#f3f8fc;
}
.side-table th {
        width:30%;
}

/*// =========== Index ===========*/
.status-potential {
        color:green;
}
fieldset.form {
        padding:15px;
        padding-top:5px;
}
/*// ----------- Index -----------*/


/*// =========== Табы ===========*/
.tab-title {
        color:navy;
        font-size:25px;
        font-weight:bold;
        margin-bottom:30px;
        margin-top:10px;
}
/*// ----------- Табы -----------*/
