body {
        background:#eee;
        font-size:13px;
        font-family:Verdana;
}
.main-container {
        padding:20px;
        margin-bottom:70px;
        background:white;
        box-shadow:0px 0px 61px -16px black; 
}
.top-tabs {
        margin-top:30px;
}
fieldset {
        border:1px solid #aaa;
        border-radius:5px;
        padding:5px;
}
legend {
        border:1px solid #aaa;
        font-size:18px;
        line-height:25px;
        border-radius:15px;
        width:auto;
        padding:0 15px;
        margin:0;
        margin-bottom:10px;
        background:#fafafa;
}
table th {
        text-align:center !important;
        background:#f3f8fc;
        /*border:1px solid #ddd !important;*/
}
.side-table th {
        text-align:left !important;
        width:30%;
}
.comment_lupa {
        height:20px;
        cursor:pointer;
}

/*// =========== Index ===========*/
#search-form {
        margin:0;
}
.search-img {
        margin-left:10px;
}
.name-title {
        color:navy;
        font-size:20px;
}
.status-potential {
        color:orange;
        /*color:blueviolet;*/
}
.status-actual {
        color:magenta;
}
.status-served {
        color:green;
}
.status-rejected {
        color:red;
}
fieldset.form {
        padding:15px;
        padding-top:5px;
}
/*// ----------- Index -----------*/


/*// =========== Табы ===========*/
ul.nav-tabs a {
        padding: 3px 7px;
        border: 1px solid #6C6 !important;
        background-color: #CFC;
}
ul.nav-tabs a:hover {
        background:white;
        border-bottom: 1px solid white !important;
}
ul.nav-tabs li.active a {
        border-bottom: 1px solid white !important;
}
.tab-title {
        text-align:center;
        color:navy;
        font-size:25px;
        font-weight:bold;
        margin-bottom:30px;
        margin-top:10px;
}
.adminka-ul li {
        padding:7px;
}
.padding20 {
        padding:20px;
}
hr.huge-separator {
        height:10px;
        background:#aaa;
}
/*// ----------- Табы -----------*/


/*// =========== footer ===========*/
.stupid-footer {
        width:1230px;
        margin-left:-20px;
        margin-bottom:-20px;
}
.footer-end-block{
        line-height:15px;

        background-image:url('/images/footer.png');
        text-align:left;
        padding:5px 20px;
        margin: 0px;
        border:none; 
        color:white;
        font-size:10px;
}

